@font-face {
  font-family: Product Sans;
  src: url(Fonts/Fanta.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Product Sans;
}

html,
body {
  height: 100%;
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

#main {
  width: 100%;
  height: 100vh;
  background: orangered;
}

.nav-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  z-index: 99;
  background: linear-gradient(150deg, blue, green);
}

.nav-container a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-menu {
  display: flex;
  gap: 50px;
}
.nav-container img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 15px;
  margin-right: 15px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 94, 0));
}

.hero h1 {
  font-size: 25vw;
  color: #fff;
}

#fanta {
  position: absolute;
  width: 40%;
  z-index: 2;
}

#laranja-cortada {
  position: absolute;
  width: 15%;
  top: 10%;
  left: 32%;
  z-index: 2;
}

#laranja {
  position: absolute;
  width: 20%;
  z-index: 0;
  top: 55%;
  right: 30%;
}

#folha {
  top: 10%;
  left: 0%;
  width: 18%;
  transform: rotate(60deg);
  position: absolute;
}

#folha2 {
  position: absolute;
  width: 12%;
  top: 70%;
  left: 80%;
  transform: rotate(-90deg);
}

#folha3 {
  position: absolute;
  width: 20%;
  top: 10%;
  right: 0%;
}
/* Editando a degunda div*/

.two {
  display: flex;
  width: 100%;
  height: 100vh;
  background: brown;
}

.left-side,
.right-side {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
  width: 50%;
  height: 100%;
}

.left-side svg {
  margin-top: 50vh;
  width: 90%;
  transform: rotateX(50deg);
}

.right-side {
  color: white;
  font-size: 5vw;
}
.right-side p {
  color: white;
  font-size: 1.5vw;
  width: 80%;
}

.three {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 94, 0));
  gap: 5vh;
}

.card {
  position: relative;
  display: flex;
  background: white;
  align-items: center;
  width: 25vw;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  height: 70vh;
  margin-top: 10vh;
  border-radius: 20px;
}
.card h3 {
  margin-top: 40vh;
  font-size: 3vw;
  color: black;
}

.card button {
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  background-color: rgb(255, 149, 0);
  color: white;
  padding: 1vw 2vw;
  cursor: pointer;
}

#cocacola {
    position: absolute;
    top: -15%;
    width: 115%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#pepsi{
    position: absolute;
    top: -15%;
    width:115%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.lemon1{
    position: absolute;
    top: -30%;
    left: 50%;
    width: 25vw;
    transform: translate(-50%, 0%);
}
.lemon2{
    position: absolute;
    top: -30%;
    left: 50%;
    width: 25vw;
    transform: translate(-50%, 0%);
}

